@font-face {
    font-family: 'fifa';
    src: url('fonts/EASPORTS15.ttf')
}

.resultspage_container {
    background-image: url('images/backgrounds/home_background.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 85vh;
}

.results_container {
    height: 80vh;
    width: 85vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.recent_container {
    height: 35vh;
    width: 85vw;
    margin: 0;
}

.striking_container {
    height: 45vh;
    width: 55vw;
    margin: 0;
}

.search_container {
    height: 45vh;
    width: 30vw;
    margin: 0;
}
